
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<link href="css/style.css" rel="stylesheet"/>
<style>
	.jsAPi{ padding:.3em 1em;}
	.jsAPi button{ padding:.2em 1em;font-size:1em;}
	/*.jsAPi p:last-child img{ width:3em;height:3em;margin-top:.3em;margin-right:.3em;}*/
	
	.pic li{ width:30%;float:left;margin-right:2%;margin-top:5px;position:relative;}
	.pic li img{ width:100%;height:100%;}
	.pic li a.close{width:18px; height:18px; background:url(images/close.png) no-repeat center; background-size:100%; position:absolute; right:0; top:0;}
	.appUpload p div{ width:7rem; height: 7rem; display: inline-block;position: relative;margin-right: 0.3rem;}
	.appUpload p div>img{width: 100%;height: 100%;}
	.appUpload p div i{position: absolute;width: 1.5rem;height: 1.5rem;top: 0px;left: 5.5rem;}
	.appUpload p div i>img{width: 100%;height: 100%;}
	
	.jsAPi>p{font-size:.7em;color:#999;}
</style>
<title>政务云jsApi测试页面</title>
</head>
<body>
<div>
	<div class="jsAPi ">政务云jsApi测试1-2</div>
	<div class="jsAPi login">
		<button class="login_1">1.	登录（需要登录）</button><button class="login_2">2.	登录（不需要登录）</button><button class="login_3">3.	手机号码登录</button>
		<p></p>
	</div>
	<div class="jsAPi share">
		<button>4.	分享</button>
		<p></p>
	</div>
	<div class="jsAPi imageView">
		<button>5.	图片放大预览</button>
		<p>
			<img index="0" src="images/test.png" /><img index="1" src="images/test2.png" />
		</p>
	</div>
	<div class="jsAPi alert_1">
		<button>6.	消息提示(点击确定按钮消失)</button>
		<p></p>
	</div>
	<div class="jsAPi alert_2">
		<button>7.	消息提示(自动消失)</button>
		<p></p>
	</div>
	<div class="jsAPi redirectUrl">
		<button>8.	跳转页面</button>
		<p></p>
	</div>
	<div class="jsAPi backCallFun">
		<button>9.	app返回操作执行h5方法</button>
		<p></p>
	</div>
	<div class="jsAPi appConfirm">
		<button>10.	消息确认框</button>
		<p></p>
	</div>
	<div class="jsAPi">
		<button>11.	</button>
		<input type="file" id="fileBtn" onchange="fileChange();" accept="image/gif,image/jpg,image/png,image/jpeg;capture=camera" multiple="true">
		<ul class="pic">
		</ul>
	</div>
	<div class="jsAPi APPReturn">
		<button class="APPReturn_1">12.1 打开特殊webview</button>
		<button class="APPReturn_2">12.2 特殊webview测试所有功能</button>
		<p></p>
	</div>
	<div class="jsAPi getPosition">
		<button>13.	获取经纬度</button>
		<p></p>
	</div>
	<div class="jsAPi appUpload">
		<button>14.	打开原生图片上传页面</button>
		<p></p>
	</div>
	
	<div class="jsAPi getToken_2">
		<button>15.	无回调获取用户信息</button>
		<p></p>
	</div>
	
	<div class="jsAPi getWeixin">
		<button>16.	获取微信授权信息</button>
		<p></p>
	</div>
	<div class="jsAPi getNetworkType">
		<button>17.	获取网络类型</button>
		<p></p>
	</div>
	<div class="jsAPi getPosition_new">
		<button>18.	获取定位信息（新）</button>
		<p></p>
	</div>
	<div class="jsAPi" id="open_app">
		<button>19.	IOS微信中打开app</button>
		<p></p>
	</div>
	<div class="jsAPi dimensionalCode">
		<button>20.	调用原生二维码扫描</button>
		<p>点击后打开原生二维码扫描，并将扫描结果以弹窗形式展现出来</p>
	</div>
	
	<a href="http://zwyst.cqliving.com/test/common/jsApi_test/jsApi_test.html?appId=13" >页面跳转时New_AppJsObj测试</a>
	
	<h3 id="ts">917提示：</h3>
	<canvas id="myCanvas" style="display: none" ></canvas>
	<img src="" alt="" id="ago" style="width: 500px;display: none"/>
</div>
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="config/config.js"></script>
<script type="text/javascript" src="js/jbase64.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/vconsole.min.js"></script>
<script type="text/javascript">
	var IsAPP = 0;
	var func_callBack = "";
	var img = document.getElementById('fileBtn');
	$(function(){
		try{
			var userInfo = New_AppJsObj.getUserInfo();
			if(typeof(userInfo) == "object"){
				var obj = userInfo;
			}else{
				var obj = $.parseJSON(userInfo);
			}
			alert("页面加载完成前获取token=====" + userInfo);  //显示出token
		}catch(e){
			alert("页面加载完成前获取token失败！");
		}
	})
	window.onload = function(){
		judgmentApp();//判断是否在app中打开	
		//登录
		$(".login .login_1").click(function(){
			window.AppJsObj.appSessionToken("getToken",1); 
		})
		$(".login .login_2").click(function(){
			window.AppJsObj.appSessionToken("getToken",0);
		})
		$(".login .login_3").click(function(){
			window.AppJsObj.appSessionToken("getToken",2);
		})
		//分享
		$(".share").click(function(){
			//alert(window.location.href);
			//window.AppJsObj.share("分享测试标题", "分享测试内容", "http://zwyst.cqliving.com/test/common/jsApi_test/images/test.png", window.location.href);
			shareOption = {
				title:"分享测试标题",//必传参数
				content:"分享测试内容", //必传参数
				sourceType:"0", //必传参数
				icon:"http://zwyst.cqliving.com/test/common/jsApi_test/images/test.png", //必传参数
				url:window.location.href,//必传参数
				error:"errFun",//分享失败调用函数,app判断,没传不掉用
				success:"successFun"//分享成功调用函数,app判断,没传不掉用
			}
			window.AppJsObj.share(JSON.stringify(shareOption));
		})
		//图片放大预览
		$(".imageView img").click(function(){
			
			$("#ts").html("点击大图");
			
			var imgArr = [];
			var imgJson1 = {
				imgUrl : "http://zwyst.cqliving.com/test/common/jsApi_test/images/test.png",
				desc : "图片描述1"
			}
			var imgJson2 = {
				imgUrl : "http://zwyst.cqliving.com/test/common/jsApi_test/images/test2.png",
				desc : "图片描述2"
			}
			imgArr.push(imgJson1);
			imgArr.push(imgJson2);
			var index = parseInt($(this).attr("index"));
			window.AppJsObj.viewImageContent(JSON.stringify(imgArr),index);
			$("#ts").html("已调用方法");
		})
		//消息提示(点击确定按钮消失)
		$(".alert_1").click(function(){
			window.AppJsObj.appAlert("消息提示-点击确定按钮消失");
		})
		//消息提示(自动消失)
		$(".alert_2").click(function(){
			window.AppJsObj.appShowMessage("消息提示-自动消失",2000);
		})
		//跳转页面
		$(".redirectUrl").click(function(){
			var jsonParam = {
					id:"1089",//主键ID
					sourceId:"1089",//引用的内容ID
					detailViewType:"2",// (非空) 详情页打开方式： {1:图文新闻,2:普通新闻,3:专题新闻,4:随手拍,5:段子,7:话题,8:纯webView展示(无导航栏和底部评论),9:带有系统导航栏的webView,10:旅游详情,11:旅游专题详情}
					sourceType:"11",// (非空)来源类型：{1:新闻,2:问政,3:商情,4:随手拍,5:段子,6:活动,7:话题,8:便民,9:热线,10:旅游,11:置业,12:招聘}'
					commentType:"0",//评论：0允许，1不允许
					contextType:"3", //
					url:window.location.href,//(非空)跳转的URL
					shareUrl:window.location.href,//(有分享功能的话非空)分享url
					title:BASE64.encoder("跳转页面测试"),//标题(base64编码)
					synopsis:"",//简介(base64编码)
					shareImgUrl:"http://zwyst.cqliving.com/test/common/jsApi_test/images/test.png"// (有分享功能的话非空)分享的图片地址
				}
			window.AppJsObj.redirectUrl(JSON.stringify(jsonParam));
		})
		//app返回操作执行h5方法
		$(".backCallFun").click(function(){
			window.AppJsObj.appShowMessage("请点击原生返回按钮",2000);
			//window.location.href = "http://www.baidu.com";
		})
		//确认消息框
		$(".appConfirm").click(function(){
			var optionJson={
					title:"提示标题",//非必传,app判断空时默认为”提示”
					msg:"提示消息",//必传
					callback:"confirmCallBack()"//非必传,点击确认执行方法,app判断空时不掉用
				}
			window.AppJsObj.appConfirm(JSON.stringify(optionJson));
		})
		
		//打开特殊webview
		$(".APPReturn .APPReturn_1").click(function(){
			var jsonParam = {
					id:"",//主键ID
					sourceId:"",//引用的内容ID
					detailViewType:"99",// (非空) 详情页打开方式： {1:图文新闻,2:普通新闻,3:专题新闻,4:随手拍,5:段子,7:话题,8:纯webView展示(无导航栏和底部评论),9:带有系统导航栏的webView,10:旅游详情,11:旅游专题详情}
					sourceType:"11",// (非空)来源类型：{1:新闻,2:问政,3:商情,4:随手拍,5:段子,6:活动,7:话题,8:便民,9:热线,10:旅游,11:置业,12:招聘}'
					commentType:"0",//评论：0允许，1不允许
					url:"http://zwyst.cqliving.com/test/common/jsApi_test/appReturn.html",//(非空)跳转的URL
					shareUrl:window.location.href,//(有分享功能的话非空)分享url
					title:BASE64.encoder("跳转页面测试"),//标题(base64编码)
					synopsis:"",//简介(base64编码)
					shareImgUrl:"http://zwyst.cqliving.com/test/common/jsApi_test/images/test.png"// (有分享功能的话非空)分享的图片地址
				}
			window.AppJsObj.redirectUrl(JSON.stringify(jsonParam));
		})
		//特殊webview测试所有功能
		$(".APPReturn .APPReturn_2").click(function(){
			var jsonParam = {
					id:"",//主键ID
					sourceId:"",//引用的内容ID
					detailViewType:"99",// (非空) 详情页打开方式： {1:图文新闻,2:普通新闻,3:专题新闻,4:随手拍,5:段子,7:话题,8:纯webView展示(无导航栏和底部评论),9:带有系统导航栏的webView,10:旅游详情,11:旅游专题详情}
					sourceType:"11",// (非空)来源类型：{1:新闻,2:问政,3:商情,4:随手拍,5:段子,6:活动,7:话题,8:便民,9:热线,10:旅游,11:置业,12:招聘}'
					commentType:"0",//评论：0允许，1不允许
					url:window.location.href,//(非空)跳转的URL
					shareUrl:window.location.href,//(有分享功能的话非空)分享url
					title:BASE64.encoder("跳转页面测试"),//标题(base64编码)
					synopsis:"",//简介(base64编码)
					shareImgUrl:"http://zwyst.cqliving.com/test/common/jsApi_test/images/test.png"// (有分享功能的话非空)分享的图片地址
				}
			window.AppJsObj.redirectUrl(JSON.stringify(jsonParam));
		}) 
		
		
		//获取经纬度
		$(".getPosition").on("click",function(){
			window.AppJsObj.getPosition("getPosition_1");
		});
		//原生上传图片
		$(".appUpload button").on("click",function(){
			var num = 9-$(".appUpload img").length;
			if(num<1){
				window.AppJsObj.appAlert("最多上传9张图片！");
				return;
			}
			window.AppJsObj.appUpload(num,"appUploadCallback");
		});
		
		//无回调获取用户信息 
		$(".getToken_2 button").on("click",function(){
			
			window.AppJsObj.appSessionToken("_____func",0);//执行appSessionToken函数刷新已打开的webview上面getUserInfo对象缓存值
			var userInfo = New_AppJsObj.getUserInfo();
			var obj = $.parseJSON(userInfo);
			
			window.AppJsObj.appAlert(userInfo+"========token=====" + obj.token);  //显示出token
		});
		
		//获取网络类型
		$(".getNetworkType button").on("click",function(){
			var NetworkType = New_AppJsObj.getNetworkType();//0:网络不可用; 1:2G 2:3G 3:4G 4:wifi    
			if(NetworkType==0){
				window.AppJsObj.appShowMessage("网络不可用",2000); 
			}else if(NetworkType==1){
				window.AppJsObj.appShowMessage("2G网络",2000); 
			}else if(NetworkType==2){
				window.AppJsObj.appShowMessage("3G网络",2000); 
			}else if(NetworkType==3){
				window.AppJsObj.appShowMessage("4G网络",2000); 
			}else if(NetworkType==4){
				window.AppJsObj.appShowMessage("wifi网络",2000); 
			}else{
				window.AppJsObj.appShowMessage("未知网络类型",2000); 
			}
		});
		
		//获取经纬度 新
		$(".getPosition_new").on("click",function(){
			window.AppJsObj.getLatLong("getPosition_new");
		});
		
		//H5启动app
		var open_app = document.getElementById('open_app');
		open_app.addEventListener('click', function() {
			location.href = 'https://h5.cqliving.com/info/detail/838186.html?id=836980&sourceId=814390&detailViewType=2&sourceType=1&commentType=0&url=https://h5.cqliving.com/info/detail/838186.html&shareUrl=https://h5.cqliving.com/info/detail/838186.html&title=&synopsis=&shareImgUrl=';
		}, false);
		
		//调用原生二维码扫描
		$(".dimensionalCode").on("click",function(){
			window.AppJsObj.getTwoDimensionalCode("getTwoDimensionalCodeCallBack");
		});
	}
	//登录
	var sessionStr = "";
    function getToken(params){
		sessionStr = params;
		
		//alert(sessionStr);
		//$(".login p").html(sessionStr);
		//TODO 业务逻辑
		var sessionObj = eval("("+sessionStr+")");			
       	localStorage.sessionId = sessionObj.sessionId;
		localStorage.token = sessionObj.token;
		window.AppJsObj.appAlert(sessionStr+"========token=====" + sessionObj.token);  //显示出token
		
		var userInfo = New_AppJsObj.getUserInfo();
		var obj = $.parseJSON(userInfo);
		window.AppJsObj.appAlert(userInfo+"========无回调token=====" + obj.token);  //显示出token
    }
	function getPosition_1(jsonStr){
		window.AppJsObj.appAlert(JSON.stringify(jsonStr));
	}
	function getPosition_new(jsonStr){
		if(typeof jsonStr != "object"){
			var obj = eval("(" +jsonStr+")");
			if(obj.type == "1"){
				alert("正常获取到经纬度");
			}else if(obj.type == "-1"){
				alert("用户未授权");
			}else{
				alert("返回错误！");
			}
		}
		window.AppJsObj.appAlert(JSON.stringify(jsonStr));
	}
    function appBack(){
		window.AppJsObj.appShowMessage("确认了返回。",2000);
		window.AppJsObj.backClick();
	}
	//app返回操作执行h5方法
	function appBackApply(){
		window.AppJsObj.appShowMessage("你点击了返回按钮。",2000);
	}
	function confirmCallBack(){
		window.AppJsObj.appShowMessage("你点击了确认按钮。",2000);
	}
	//分享回调函数
	function errFun(){
		window.AppJsObj.appShowMessage("分享失败！",2000);
	}
	function successFun(){
		window.AppJsObj.appShowMessage("分享成功！",2000);
	}
	
	//图片上传
	function fileChange(){
		imgChange(0);
		function imgChange(index){
			var Cnv = document.getElementById('myCanvas');
            var Cntx = Cnv.getContext('2d');//获取2d编辑容器
            var imgss =   new Image();
			var agoimg=document.getElementById("ago");
			
			var imgFile = new FileReader();  
			imgFile.readAsDataURL(img.files[index]);  
			imgFile.onload = function (e) {
				url = e.target.result;
				imgss.src = url;
				agoimg.src=url;
				agoimg.onload = function () {
					//等比缩放
					var m = imgss.width / imgss.height;
					 Cnv.height =1000;//该值影响缩放后图片的大小
					 Cnv.width= 1000*m ;
					//img放入画布中
					//设置起始坐标，结束坐标
					Cntx.drawImage(agoimg, 0, 0,1000*m,1000);
					
					var imgData = Cnv.toDataURL("image/png");

					// 去除多余，写入页面
					$(".pic").append("<li><img src=" + imgData + " /><a class='close'></a></li>");
					$(".pic li").height($(".pic li").width());
					$(".close").click(function(){
						$(this).parent().remove();
						$("#fileBtn").val("");
					})
					if($(".pic li").length > 9){
						$(".addBtn").hide();
						window.AppJsObj.appAlert("最多只能选择5张图片！");
						return;
					}
					
					agoimg.src="";
					Cntx.clearRect(0, 0,1000*m,1000);
					j = index+1;
					imgChange(j);
				}
			}
		}
	}
	
	
	
	
	//获取微信登录授权信息 
	$(".getWeixin").on("click",function(){
		window.AppJsObj.weixinSessionToken ("getWeinxin");
	})
	
	
	function getWeinxin(params){
		window.AppJsObj.appAlert(JSON.stringify(params));
	}
	
	/**
	 * 判断是否是再APP中打开
	*/
	function judgmentApp(){
		setTimeout(function(){
			if(window.AppJsObj){
				window.AppJsObj.appSessionToken("getToken",0);
				window.AppJsObj.appShowMessage("在app中打开！",2000);
			}else{
				//显示登录按钮
				window.AppJsObj.appShowMessage("不在app中打开！",2000);
			}
		},300);
	}
	//特殊webview关闭后的回调函数
	function closeCallback(par){
		window.AppJsObj.appAlert("你成功执行了刚才webview上设置的回调函数！");
	}
	
	//原生上传页面回调函数
	function appUploadCallback(urls){
		var imgList = urls.split(",");
		var _str = '';
		for(var i=0; i<imgList.length; i++){
			_str += '<div class="upImgBox" index="' + i +'"> <img  src="' + imgList[i] + '"><i class="upClose"><img src="images/close.png"/></i></div>';
		}
		$(".appUpload p").append(_str);
		//图片放大预览
		$(".appUpload .upImgBox").unbind("click").click(function(){
			var imgArr = [];
			var imgObj = $(this).parent().children();
			for(var i=0; i<imgObj.length; i++){
				var imgJson1 = {
					imgUrl : $(imgObj[i]).children("img").attr("src"),
					desc : ""
				}
				imgArr.push(imgJson1);
			}
			
			var index = parseInt($(this).attr("index"));
			window.AppJsObj.viewImageContent(JSON.stringify(imgArr),index);
		});
		
		//删除图片
		$(".upClose").unbind("click").click(function(){
			$(this).parent(".upImgBox").remove();
		});
	}
	//返回键若被拦截后执行函数
	function appReturn(){
		var jsonParam = {
			type : "0",
			callBackFun : "",
			par : ""
		}
		window.AppJsObj.appCloseWeb(JSON.stringify(jsonParam));
	}
	//原生分享回调函数
	function shareSuccessCallBack(params){
		alert("原生分享调用成功！");
		window.AppJsObj.appAlert(JSON.stringify(params));
	}
	//原生二维码扫描结果回调函数
	function getTwoDimensionalCodeCallBack(params){
		window.AppJsObj.appAlert(JSON.stringify(params));
	}
</script>
</body>
</html>

