 .searchSeat .mint-searchbar{
    font-size: .3rem;
}
.searchSeat .mint-cell-wrapper{
    font-size: .24rem!important;
}
.searchSeat .mint-search-list{
    padding-top: 1.04rem;
}
.searchSeat .mint-search{
    height: auto;
}